body {
	background-color: black;
	color:gray;
}

header, main, nav {
	text-align: center;
}

footer {
	font-size: 1.5em;
	color: white;
	float: right;
}

.current nav a {
	padding:15px;
	padding-bottom:4px;
	font-size:1.8em;
	text-decoration: none;
	color: white;
}

nav a:hover {
	border-bottom:2px;
	font-size:2em;
	transition:.9s;
}

main {
	display: flex;
	justify-content: center;
}

.csumb-logo {
	left: 0px;
	width: 100px;
	height: 100px;
	position: fixed;
}