body {
	background-color: black;
	color:gray;
}

body hr {
	width: 90%;
}

header, main, nav, footer {
	text-align: center;
}

footer {
	display: flex;
	font-size: 1.0em;
	color: white;
}

footer img {
	left: 0px;
	padding-top: 30px;
	width: 100px;
	height: 100px;
	position: fixed;
}

footer div {
	left: 100px;
	padding-top: 30px;
	padding-left: 15px;
	position: fixed;
}

footer hr {
	width: 90%;
	margin-left: 5% !important;
	position: fixed;
	
}

.current {
	border-bottom:2px;
	font-size:2em;
}

nav a {
	padding:15px;
	padding-bottom:4px;
	font-size:1.8em;
	text-decoration: none;
	color: white;
}

nav a:hover {
	border-bottom:2px;
	font-size:2em;
	transition:.9s;
}

main {
	display: flex;
	justify-content: center;
}