body {
	background-color: black;
	color:gray;
}

body hr {
	width: 90%;
}

header, main, nav, footer {
	text-align: center;
}

footer {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.0em;
	color: white;
}

footer img {
	left: 0px;
	padding-top: 30px;
	width: 100px;
	height: 100px;
	/*position: fixed;*/
}

footer div {
	left: 100px;
	padding-top: 30px;
	padding-left: 15px;
	/*position: fixed;*/
}

footer hr {
	flex: 0 0 100%;
} 

header h1 {
	font-family: 'Pacifico', cursive;
}

#form {
	text-align: center;
	height: 1000px;
}

.current {
	border-bottom:2px;
	font-size:2em;
	transition:0.1;
}

nav a {
	padding:15px;
	padding-bottom:4px;
	font-size:1.8em;
	text-decoration: none;
	color: white;
}

nav a:hover {
	border-bottom:2px;
	font-size:2em;
	transition:.9s;
}

main {
	display: flex;
	justify-content: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

ul {
	margin-left: auto;
	margin-right: auto;
}

div h2 {
	color: white;
	margin-left: 10%;
}

div table {
	margin-left: 15%;
}

#table-header {
	background-color: #553300;
}

.table-row {
	background-color: #251a00;
}

td strong {
	color: orange;
}

th, td { 
	width:150px; 
	text-align:center; 
	border:1px solid white; 
	padding:5px 
 
} 

.hobby {
	margin-left: 15%;
	color: yellow;
}